*
{
    margin: 0;
    padding: 0;
    border: 0;
}

.section_top {
    background: none;
    height: auto;
    margin-top: 40px;
    
    overflow: hidden;
}


.title_community
{
    color: #040000;
    margin: 60px auto 0;
    padding: 0 0 50px;
    font-weight: 800;
    letter-spacing: 6px;
    font-size: 38px;
    line-height: initial;
    position: relative;
    height: 40px;
    text-align: center;
}

.board_container
{
    width: 100%;
    max-width: 1204px;
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    top: 50px;
    font-weight: 400;
    color: #999;
    margin-bottom: 100px;

}

ul
{
    list-style: none;
    display: block;
    list-style-type: disc;
    padding-inline-start: 40px;
    
}


.board_container ul.board_tab li
{
    width: 25%;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 900;
    height: auto;
    float: none;
    display: inline-block;
    border: none;
    box-shadow: 1px 0 0 0 #eee, 0 1px 0 0 #eee, 1px 1px 0 0 #eee, 1px 0 0 0 #eee inset, 0 1px 0 0 #eee inset;
    text-align: center;
}

.board_container ul.board_tab li:hover
{
    cursor: pointer;
    
}

.board_container ul.board_tab li.tab_on
{
    font-weight: Bold;
    color: #222;
    border: none;
    background: #f6f6f6;
}