.add_box {
    width: 800px;
    margin: 0 auto;
    padding-top: 90px;
    box-sizing: border-box;
    padding-bottom: 100px;
}
.add_box .title{
    font-size: 32px;
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}
.add_box .input_box{
    width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.add_box .input_box input {
    height: 38px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding-left: 10px;
    background-color: #f9f9f9;
}
.add_box .input_box .img_box img{
    width: 250px;
    height: 250px;
}
.add_box .input_box .pull{
    width: 100%;
}

.add_box .input_box .mb{
    margin-bottom: 10px;
}
.add_box .input_box .mb5{
    margin-bottom: 5px;
}
.add_box .input_box textarea{
    width: 100%;
    min-height: 80px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    background: #f9f9f9;
    resize: none;
}
.add_box .input_box .but{
    width: 80px;
    height: 35px;
    background: #333;
    display: inline-block;
    font-size: 12px;
    color: #f9f9f9;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}
.add_box .input_box input[type="file"] {
    width: 120px;
    height: 50px;
    padding: 0px;
    background: #fff;
    border: none;
}
.add_box .input_box .but_box{
    width: 170px;
    display: flex;
    margin: 0 auto;
}
.add_box .input_box .but_box .ok,
.add_box .input_box .but_box .cancel{
    width: 80px;
    height: 35px;
    border: 1px solid #639ACC;
    color: #639ACC;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    line-height: 35px;
    transition: .4s;
    cursor: pointer;
    box-sizing: border-box;
}
.add_box .input_box .but_box .cancel{
    color: #333;
    border: 1px solid #333;
    margin-left: 10px;
}
.add_box .input_box .but_box .cancel:hover{
    color: #fff;
    background-color: #333;
}
.add_box .input_box .but_box .ok:hover{
    color: #fff;
    background: #639ACC;
}
.add_box .input_box .hashtagbox {
    margin-top: 5px;
}
.add_box .input_box .hashstyle {
    padding: 5px 8px;
    background: #639ACC;    
    color: #fff;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 5px;
}
.add_box .input_box .hashstyle .del_but {
    width: 15px;
    height: 15px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    right: -5px;
    top: -2px;
}
.add_box .input_box .hashstyle .del_but span {
    display: inline-block;
    width: 12px;
    height: 2px;
    position: absolute;
    top: 43%;
    left: 10%;
    transform: translate(-50%,-50%);
    background: #fff;
    transform: rotate(-45deg);
}
.add_box .input_box .hashstyle .del_but span:nth-of-type(2) {
    transform: rotate(45deg);
}