.profile_img{
    width: 100%;
    text-align: center;
}
.profile_name{
    text-align: center;
}

.my_img{
    width: 100px;
    height: 100px;
}

.category_bar {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #ddd;
}
.category_bar ul {
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}
.category_bar ul li {
    width: 200px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    box-sizing: border-box;
    cursor: pointer;
    border-left: 1px solid #ddd;
    display: inline-block;
}
.category_bar ul li.active {
    border-bottom: 2px solid #3886CE;
}
.category_bar ul li:hover{
    border-bottom: 2px solid #3886CE;
}
.list_my{
    width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 80px;
    background: rgba(99,154,204,.3);
}
.list_my .mybucket_box{
    padding: 50px 50px;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    overflow: hidden;
}
.mybucket_form {
    width: 270px;
    height: 400px;
    position: relative;
    float: left;   
    margin-right: 15px; 
    margin-bottom: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.mybucket_form .list_img{
    width: 270px;
    height: 270px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    cursor: pointer;
}
.mybucket_form .list_img img{
    width: 100%;
    height: 100%;
}
.mybucket_form .list_content{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.mybucket_form .list_content .day{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.mybucket_form .red{
    color: crimson;
}
.mybucket_form .list_content .title{
    font-size: 16px;
    margin-top: 13px;
}

.mybucket_form .list_content .but_box{
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
}
.mybucket_form .list_content .but_box p{
    font-size: 13px;
    cursor: pointer;
    line-height: 27px;
}
.mybucket_form .list_content .but_box p:hover{
    color: #0f4c81;
}
.mybucket_form .list_content .but_box p:nth-of-type(1){
    width: 60%;
}
.mybucket_form .list_content .but_box p:nth-of-type(2){
    width: 40%;
}
.mybucket_form .list_content .but_box svg{
    float: left;
}