.profile_img{
    width: 100%;
    text-align: center;
}
.profile_name{
    text-align: center;
}

.my_img{
    width: 100px;
    height: 100px;
}

.category_bar {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #ddd;
}
.category_bar ul {
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}
.category_bar ul li {
    width: 200px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    box-sizing: border-box;
    cursor: pointer;
    border-left: 1px solid #ddd;
    display: inline-block;
}
.category_bar ul li.active {
    border-bottom: 2px solid #3886CE;
}
.category_bar ul li:hover{
    border-bottom: 2px solid #3886CE;
}