.result_box .buket_form{
    width: 19%;
    min-width: auto;
    float: left;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    border: 3px solid #3886CE;
    margin-right: 1.2%;
    margin-bottom: 1.2%;
}
.result_box .buket_form:nth-of-type(5) {
    margin-right: 0px;
}
.result_box {
    padding: 50px 5%;

}
.result_box .blue_color {
    color: #1774C6;
}
.result_box .result_title {
    width: 80%;
    font-size: 18px;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}