.list_my{
    text-align: center;
    padding: 30px;
}

.list_table{
    height: 500px;
    width: 100%;
}

.list_tr{
    border-bottom: 1px solid lightgrey;
    height: 50px;
}

.list_image{
    width: 150px;
}

.list_subject{
    width: 300px;
}

.list_content{
    width: 500px;
}

.list_nickname{
    width: 100px;
}

.list_dday{
    width: 100px;
}
.list_writeday{
    width: 200px;
}