.ydiv{
    padding:30px;
    margin-left:450px;
    text-align: left;
}
.yform{
    padding: 20px;
    text-align: center;
}



#xmenu{
   display:inline-block; width:'100px'; color:black; font-size:'22px'; text-decoration: none;

}

#xmenu:hover{
    display:inline-block; width:'100px'; color:#3886CE; font-size:'22px'; font-weight: bold; text-decoration: none;
   } 

   
.faqwrap{
    position: relative;
    width: 100%;
    font-size:12pt;
    display: inline-block;
    

}

.container{
    position: relative;
    width: 100%;
    display: inline-block;
    
}

.question:before{
    content:"Q.  ";
}

.question{   
    position: relative;
    display: inline-block;
    width:97%;    
    border: 1px solid #f6f6f6;
    padding-top:20px;
    padding-bottom:20px;
    padding: 10px 10px;
    height: 50px;
    line-height: 50px;
    margin-left: 500px;

}


.answer{
    
    position: relative;
    display: inline-block; 
    width:101.5%;
    border: 1px solid lightgrey;
    min-width: 300px;
    padding-top:20px;
    padding-bottom:20px;
    padding: 15px 15px;
    background-color: rgb(224, 223, 223);
    box-sizing: border-box;
    /* line-height: 35px;
    height: 70px; */
    overflow: hidden;
 
}


ul{
    list-style:none;
    width: 700px;
    }

