@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
body {
  margin: 0;

    font-family: 'Nanum Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
